## TODO
- Make sure that the types in train and test are identical for the non predictive columns
- Extract a small fraction of the data

### References
- Handling null values
  - https://www.kaggle.com/apryor6/santander-product-recommendation/detailed-cleaning-visualization-python

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
data_dir = '/home/lancif/data/santander-product-recommendation'
train_fname = os.path.join(data_dir, 'train_ver2.csv')
test_fname = os.path.join(data_dir, 'test_ver2.csv')
train = pd.read_csv(train_fname)
test = pd.read_csv(test_fname)

print train.shape
print test.shape

/usr/local/lib/python2.7/dist-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(13647309, 48)
(929615, 24)

/usr/local/lib/python2.7/dist-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
train.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [4]:
print len(train['ncodpers'])
print len(set(train['ncodpers']))

13647309
956645

In [5]:
train = train.set_index(['ncodpers'])
test = test.set_index(['ncodpers'])

Date

In [34]:
for c in ["fecha_dato", "fecha_alta", "ult_fec_cli_1t"]:
    train[c] = pd.to_datetime(train[c],format="%Y-%m-%d")
    test[c] = pd.to_datetime(test[c],format="%Y-%m-%d")
    print "* unique %s @ train" % c
    print train[c].unique()

* unique fecha_dato @ train
['2015-01-28T00:00:00.000000000' '2015-02-28T00:00:00.000000000'
 '2015-03-28T00:00:00.000000000' '2015-04-28T00:00:00.000000000'
 '2015-05-28T00:00:00.000000000' '2015-06-28T00:00:00.000000000'
 '2015-07-28T00:00:00.000000000' '2015-08-28T00:00:00.000000000'
 '2015-09-28T00:00:00.000000000' '2015-10-28T00:00:00.000000000'
 '2015-11-28T00:00:00.000000000' '2015-12-28T00:00:00.000000000'
 '2016-01-28T00:00:00.000000000' '2016-02-28T00:00:00.000000000'
 '2016-03-28T00:00:00.000000000' '2016-04-28T00:00:00.000000000'
 '2016-05-28T00:00:00.000000000']
* unique fecha_alta @ train
['2015-01-12T00:00:00.000000000' '2012-08-10T00:00:00.000000000' 'NaT' ...,
 '2016-05-25T00:00:00.000000000' '2016-05-01T00:00:00.000000000'
 '2016-05-15T00:00:00.000000000']
* unique ult_fec_cli_1t @ train
['NaT' '2015-07-02T00:00:00.000000000' '2015-07-23T00:00:00.000000000'
 '2015-07-06T00:00:00.000000000' '2015-07-30T00:00:00.000000000'
 '2015-07-20T00:00:00.000000000' '2015-07-08T00:00:00.000000000'
 '2015-07-22T00:00:00.000000000' '2015-07-17T00:00:00.000000000'
 '2015-07-09T00:00:00.000000000' '2015-07-03T00:00:00.000000000'
 '2015-07-29T00:00:00.000000000' '2015-07-13T00:00:00.000000000'
 '2015-07-21T00:00:00.000000000' '2015-07-27T00:00:00.000000000'
 '2015-07-14T00:00:00.000000000' '2015-07-01T00:00:00.000000000'
 '2015-07-24T00:00:00.000000000' '2015-07-15T00:00:00.000000000'
 '2015-07-16T00:00:00.000000000' '2015-07-28T00:00:00.000000000'
 '2015-07-07T00:00:00.000000000' '2015-07-10T00:00:00.000000000'
 '2015-08-21T00:00:00.000000000' '2015-08-19T00:00:00.000000000'
 '2015-08-25T00:00:00.000000000' '2015-08-14T00:00:00.000000000'
 '2015-08-24T00:00:00.000000000' '2015-08-17T00:00:00.000000000'
 '2015-08-18T00:00:00.000000000' '2015-08-10T00:00:00.000000000'
 '2015-08-13T00:00:00.000000000' '2015-08-27T00:00:00.000000000'
 '2015-08-03T00:00:00.000000000' '2015-08-06T00:00:00.000000000'
 '2015-08-20T00:00:00.000000000' '2015-08-26T00:00:00.000000000'
 '2015-08-28T00:00:00.000000000' '2015-08-05T00:00:00.000000000'
 '2015-08-11T00:00:00.000000000' '2015-08-07T00:00:00.000000000'
 '2015-08-04T00:00:00.000000000' '2015-08-12T00:00:00.000000000'
 '2015-09-17T00:00:00.000000000' '2015-09-01T00:00:00.000000000'
 '2015-09-18T00:00:00.000000000' '2015-09-03T00:00:00.000000000'
 '2015-09-02T00:00:00.000000000' '2015-09-14T00:00:00.000000000'
 '2015-09-16T00:00:00.000000000' '2015-09-29T00:00:00.000000000'
 '2015-09-28T00:00:00.000000000' '2015-09-09T00:00:00.000000000'
 '2015-09-22T00:00:00.000000000' '2015-09-08T00:00:00.000000000'
 '2015-09-11T00:00:00.000000000' '2015-09-21T00:00:00.000000000'
 '2015-09-04T00:00:00.000000000' '2015-09-25T00:00:00.000000000'
 '2015-09-07T00:00:00.000000000' '2015-09-10T00:00:00.000000000'
 '2015-09-23T00:00:00.000000000' '2015-09-24T00:00:00.000000000'
 '2015-09-15T00:00:00.000000000' '2015-10-08T00:00:00.000000000'
 '2015-10-07T00:00:00.000000000' '2015-10-13T00:00:00.000000000'
 '2015-10-26T00:00:00.000000000' '2015-10-29T00:00:00.000000000'
 '2015-10-05T00:00:00.000000000' '2015-10-28T00:00:00.000000000'
 '2015-10-09T00:00:00.000000000' '2015-10-22T00:00:00.000000000'
 '2015-10-20T00:00:00.000000000' '2015-10-15T00:00:00.000000000'
 '2015-10-06T00:00:00.000000000' '2015-10-01T00:00:00.000000000'
 '2015-10-21T00:00:00.000000000' '2015-10-16T00:00:00.000000000'
 '2015-10-27T00:00:00.000000000' '2015-10-19T00:00:00.000000000'
 '2015-10-23T00:00:00.000000000' '2015-10-02T00:00:00.000000000'
 '2015-10-14T00:00:00.000000000' '2015-11-23T00:00:00.000000000'
 '2015-11-24T00:00:00.000000000' '2015-11-12T00:00:00.000000000'
 '2015-11-04T00:00:00.000000000' '2015-11-13T00:00:00.000000000'
 '2015-11-25T00:00:00.000000000' '2015-11-19T00:00:00.000000000'
 '2015-11-20T00:00:00.000000000' '2015-11-03T00:00:00.000000000'
 '2015-11-16T00:00:00.000000000' '2015-11-17T00:00:00.000000000'
 '2015-11-11T00:00:00.000000000' '2015-11-27T00:00:00.000000000'
 '2015-11-18T00:00:00.000000000' '2015-11-10T00:00:00.000000000'
 '2015-11-26T00:00:00.000000000' '2015-11-02T00:00:00.000000000'
 '2015-11-05T00:00:00.000000000' '2015-11-06T00:00:00.000000000'
 '2015-11-09T00:00:00.000000000' '2015-12-21T00:00:00.000000000'
 '2015-12-18T00:00:00.000000000' '2015-12-28T00:00:00.000000000'
 '2015-12-24T00:00:00.000000000' '2015-12-04T00:00:00.000000000'
 '2015-12-29T00:00:00.000000000' '2015-12-16T00:00:00.000000000'
 '2015-12-11T00:00:00.000000000' '2015-12-30T00:00:00.000000000'
 '2015-12-15T00:00:00.000000000' '2015-12-01T00:00:00.000000000'
 '2015-12-09T00:00:00.000000000' '2015-12-10T00:00:00.000000000'
 '2015-12-17T00:00:00.000000000' '2015-12-02T00:00:00.000000000'
 '2015-12-14T00:00:00.000000000' '2015-12-03T00:00:00.000000000'
 '2015-12-22T00:00:00.000000000' '2015-12-23T00:00:00.000000000'
 '2015-12-07T00:00:00.000000000' '2016-01-08T00:00:00.000000000'
 '2016-01-14T00:00:00.000000000' '2016-01-13T00:00:00.000000000'
 '2016-01-28T00:00:00.000000000' '2016-01-05T00:00:00.000000000'
 '2016-01-19T00:00:00.000000000' '2016-01-12T00:00:00.000000000'
 '2016-01-18T00:00:00.000000000' '2016-01-21T00:00:00.000000000'
 '2016-01-22T00:00:00.000000000' '2016-01-07T00:00:00.000000000'
 '2016-01-20T00:00:00.000000000' '2016-01-26T00:00:00.000000000'
 '2016-01-15T00:00:00.000000000' '2016-01-27T00:00:00.000000000'
 '2016-01-25T00:00:00.000000000' '2016-01-11T00:00:00.000000000'
 '2016-01-04T00:00:00.000000000' '2016-02-23T00:00:00.000000000'
 '2016-02-19T00:00:00.000000000' '2016-02-18T00:00:00.000000000'
 '2016-02-26T00:00:00.000000000' '2016-02-12T00:00:00.000000000'
 '2016-02-24T00:00:00.000000000' '2016-02-09T00:00:00.000000000'
 '2016-02-08T00:00:00.000000000' '2016-02-11T00:00:00.000000000'
 '2016-02-05T00:00:00.000000000' '2016-02-04T00:00:00.000000000'
 '2016-02-03T00:00:00.000000000' '2016-02-15T00:00:00.000000000'
 '2016-02-22T00:00:00.000000000' '2016-02-10T00:00:00.000000000'
 '2016-02-16T00:00:00.000000000' '2016-02-01T00:00:00.000000000'
 '2016-02-17T00:00:00.000000000' '2016-02-02T00:00:00.000000000'
 '2016-02-25T00:00:00.000000000' '2016-03-07T00:00:00.000000000'
 '2016-03-29T00:00:00.000000000' '2016-03-10T00:00:00.000000000'
 '2016-03-18T00:00:00.000000000' '2016-03-14T00:00:00.000000000'
 '2016-03-22T00:00:00.000000000' '2016-03-08T00:00:00.000000000'
 '2016-03-21T00:00:00.000000000' '2016-03-30T00:00:00.000000000'
 '2016-03-01T00:00:00.000000000' '2016-03-23T00:00:00.000000000'
 '2016-03-02T00:00:00.000000000' '2016-03-24T00:00:00.000000000'
 '2016-03-03T00:00:00.000000000' '2016-03-09T00:00:00.000000000'
 '2016-03-11T00:00:00.000000000' '2016-03-04T00:00:00.000000000'
 '2016-03-16T00:00:00.000000000' '2016-03-28T00:00:00.000000000'
 '2016-03-15T00:00:00.000000000' '2016-03-17T00:00:00.000000000'
 '2016-04-22T00:00:00.000000000' '2016-04-01T00:00:00.000000000'
 '2016-04-06T00:00:00.000000000' '2016-04-12T00:00:00.000000000'
 '2016-04-05T00:00:00.000000000' '2016-04-15T00:00:00.000000000'
 '2016-04-13T00:00:00.000000000' '2016-04-19T00:00:00.000000000'
 '2016-04-04T00:00:00.000000000' '2016-04-18T00:00:00.000000000'
 '2016-04-26T00:00:00.000000000' '2016-04-11T00:00:00.000000000'
 '2016-04-25T00:00:00.000000000' '2016-04-27T00:00:00.000000000'
 '2016-04-08T00:00:00.000000000' '2016-04-07T00:00:00.000000000'
 '2016-04-21T00:00:00.000000000' '2016-04-28T00:00:00.000000000'
 '2016-04-20T00:00:00.000000000' '2016-04-14T00:00:00.000000000'
 '2016-05-23T00:00:00.000000000' '2016-05-05T00:00:00.000000000'
 '2016-05-17T00:00:00.000000000' '2016-05-19T00:00:00.000000000'
 '2016-05-12T00:00:00.000000000' '2016-05-06T00:00:00.000000000'
 '2016-05-03T00:00:00.000000000' '2016-05-20T00:00:00.000000000'
 '2016-05-02T00:00:00.000000000' '2016-05-16T00:00:00.000000000'
 '2016-05-18T00:00:00.000000000' '2016-05-04T00:00:00.000000000'
 '2016-05-13T00:00:00.000000000' '2016-05-24T00:00:00.000000000'
 '2016-05-27T00:00:00.000000000' '2016-05-10T00:00:00.000000000'
 '2016-05-30T00:00:00.000000000' '2016-05-25T00:00:00.000000000'
 '2016-05-11T00:00:00.000000000' '2016-05-09T00:00:00.000000000'
 '2016-05-26T00:00:00.000000000']

Cleaning 12th column `indrel_1mes`

In [17]:
def to_integer_str(x):
    try:
        return str(int(float(x)))
    except:
        return str(x)
    
train.indrel_1mes = train.indrel_1mes.astype(str).apply(to_integer_str).astype('category')
test.indrel_1mes = test.indrel_1mes.astype(str).apply(to_integer_str).astype('category')

In [31]:
print train.indrel_1mes.value_counts()
print test.indrel_1mes.value_counts()

1      13490681
nan      149781
3          4350
2          1317
P           874
4           306
Name: indrel_1mes, dtype: int64
1      929565
3          27
nan        23
Name: indrel_1mes, dtype: int64